*.fbx
*.gltf
*.jpg
*.DS_Store
*.pyc
*.tif
*.swp
*.log
*.txt
*.swatch
*.mp4
*.bvh

/videos/*
/ppts/*
/output/*
Server_datas/
_videos/
_backup/

models/Dancstruct/SKM_Asooni_1207.fbm/.mayaSwatches/ACHID UV 1122 512.jpg_hcm.swatch
__pycache__/retargeting_different_axis.cpython-39.pyc
/Document/*
/models/*
/etc/*
/flask_session/*
motions/_DATA/Asooni/*

example.py
fbxsdk/fbx202037_fbxpythonsdk_macos.pkg
