*.fbx
*.gltf
*.jpg
*.DS_Store
*.pyc
*.tif
*.swp
*.log
*.txt
/videos/*
/ppts/*
/output/*
models/Dancstruct/SKM_Asooni_1207.fbm/.mayaSwatches/ACHID UV 1122 512.jpg_hcm.swatch
__pycache__/retargeting_different_axis.cpython-39.pyc
/Document/*
/models/*
/etc/*
/flask_session/*

*.swatch

motions/_DATA/Asooni/._Tpose.fbm

*.mp4
web.py

